body {
  padding: 2rem;
}

li {
  color: gray;
  margin-left: 1rem;
  list-style: none;
}

.weather-container {
  margin: 0 auto;
  padding: 2rem;
}

.link {
  text-decoration: none;
  margin-right: 1rem;
}

.title {
  color: rgb(15, 143, 100);
}
